doctype html
html(lang="es-MX")
	body
		.wrapper
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, magnam facere aliquid quidem architecto soluta placeat voluptatibus? Fugit eos doloremque possimus suscipit, deleniti perspiciatis maxime temporibus minus, omnis inventore quibusdam.